.toolbar {
  width: 100%;
  display: flex;
  background-color: gray;
  height: var(--row-height);
  white-space: nowrap;
}

.date {
  text-align: left;
  margin: auto;
  padding-inline: var(--padding-inline);
}

.time {
  text-align: center;
  width: inherit;
  margin: auto;
  padding-inline: var(--padding-inline);
}

.settings {
  text-align: right;
  margin: auto;
  padding-inline: var(--padding-inline);
}

ul {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

li {
  height: var(--row-height);
  display: flex;
  padding-inline: var(--padding-inline);
}

li:nth-child(2n) {
  background-color: silver;
}

.name {
  margin: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.list-icon {
  margin: auto;
  width: 32px;
  height: 32px;
  padding-inline-end: 16px;
}
